{% extends 'base.html.twig' %}

{% block title %}{{ 'check_email.title'|trans }} — MyBabyGuessr{% endblock %}

{% block body %}
    <h1>{{ 'check_email.title'|trans }}</h1>
    <p>{{ 'check_email.message'|trans }}</p>
    <p>{{ 'check_email.spam'|trans }}</p>
{% endblock %}
